*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1260px;
    padding: 20px 0px ;
    margin: auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
}